#brand-page div.group {
  width: 300px;
  display: inline-block; }

#brand-page div#brand-name {
  width: 33%;
  display: inline-block; }

#brand-page div#brand-logos {
  width: 66%;
  display: inline-block; }

#brand-page #a span.name-1 {
  color: #455a64; }

#brand-page #a span.name-2 {
  color: #0288d1; }

#brand-page #b span.name-1 {
  color: #455a64; }

#brand-page #b span.name-2 {
  color: #ff6e40; }

#brand-page #c span.name-1 {
  color: #455a64; }

#brand-page #c #c span.name-2 {
  color: #e64a19; }

#brand-page #d span.name-1 {
  color: #607d8b; }

#brand-page #d #d span.name-2 {
  color: #455a64; }

#brand-page #e span.name-1 {
  color: #455a64; }

#brand-page #e #e span.name-2 {
  color: #607d8b; }

#brand-page div.img img {
  width: 200px; }
